<main fxLayoutWrap fxLayout="column" fxFill fxFlex="88" fxFlexOrder="2" fxLayoutAlign="start start">
    <app-topbar class="top-bar"  fxFlex="66px" fxFill></app-topbar>
    <div class="header" fxLayout="column" fxFlex="40" fxFlex.sm="20" fxFlex.xs="27"  fxFill fxLayoutAlign="end center">
        <div class="user-info" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row" fxLayoutAlign="start end">
            <md-icon fxFlex="100" class="avatar">person</md-icon>
        </div>
    </div>
    <profil-bar [utilisateur]="utilisateur" fxFlex="10" fxFlex.xs="15" fxFill fxLayout="row" ></profil-bar>
    <profil-timeline fxFlex="40" fxFill fxLayout="row"></profil-timeline>
</main>
<div class="nav" fxFlex="13" fxFlex.sm="18" fxFlexOrder="1">
    <app-sidebar></app-sidebar>
</div>