<main fx-layout-wrap fx-layout="column" fx-flex-fill fx-flex="88" fx-flex-order="2" fx-layout-align="start start">
    <app-topbar class="top-bar"  fx-flex="66px" fx-flex-fill></app-topbar>
    <div class="header" fx-layout="column" fx-flex="40" fx-flex.sm="20" fx-flex.xs="27"  fx-flex-fill fx-layout-align="end center">
        <div class="user-info" fx-flex.sm="100" fx-flex.xs="100" fx-layout="row" fx-layout-align="start end">
            <md-icon fx-flex="100" class="avatar">person</md-icon>
        </div>
    </div>
    <profil-bar [utilisateur]="utilisateur" fx-flex="10" fx-flex.xs="15" fx-flex-fill fx-layout="row" ></profil-bar>
    <profil-timeline fx-flex="40" fx-flex-fill fx-layout="row"></profil-timeline>
</main>
<div class="nav" fx-flex="13" fx-flex.sm="18" fx-flex-order="1">
    <app-sidebar></app-sidebar>
</div>