<md-card fxLayoutAlign="center center">
    <div class="profil-bar-item" fxFlex="25" fxFlex.xs="100" fxLayout="column" fxLayoutWrap >
        <p fxFlex="35">{{utilisateur.nom}}</p>
        <p class="grey-title">{{utilisateur.emploi}}</p>
    </div>
    <div class="profil-bar-item" fxFlex="25" fxLayout="column" fxLayoutWrap fxHide="false" fxHide.xs="true" >
        <p>
            Cafat
            <md-icon>card_membership</md-icon>
        </p>
        <p class="grey-title">{{utilisateur.numeroCafat}}</p>
    </div>
    <div class="profil-bar-item" fxFlex="25" fxHide="false" fxHide.xs="true"  fxLayout="column" fxLayoutWrap >
        <p>
            Mutuelle
            <md-icon>card_membership</md-icon>
        </p>
        <p class="grey-title">{{utilisateur.numeroMutuelle}}</p>
    </div>
</md-card>