<form fxFlex="100" fxFill  fxLayout="row" fxLayoutWrap form-validity
      [(formErrors)]="formErrors"
      [(validationMessages)]="formValidations"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
>
    <md-input
              required
              [md-input-validity]="form"
              type="email"
              placeholder="Email"
              fxFlex="100"
              formControlName="email"
        >
        <md-hint class="md-warn">
            {{formErrors.email || formErrors.problemeConnexion}}
        </md-hint>
    </md-input>
    <button [disabled]="!form.valid" fxFlex="90" fxFlex.xs="100" md-raised-button color="primary">
        Demandez un nouveau mot passe
    </button>
    <div class="valid" [hidden]="!submitted">
        Si {{form.controls['email'].value}} correspond à l’adresse de messagerie de votre compte, nous vous enverrons un code.
    </div>
</form>