<form fxFlex="100"
      fxFlexFill
      fxLayout="row"
      fxLayoutWrap
      autocomplete="off"
      [formGroup]="form"
      form-validity
      [(formErrors)]="formErrors"
      [(validationMessages)]="formValidations"
      (ngSubmit)="onSubmit()"
>
    <md-input id="email" name="email"
              fxFlex="100" placeholder="Email"
              type="email"
              required
              formControlName="email"
              [md-input-validity]="form"
    >
        <md-hint>
            {{formErrors.email}}
        </md-hint>
    </md-input>
    <md-input
              id="motPasse" name="motPasse"
              fxFlex="100" placeholder="Mot de passe"
              type="password"
              autocomplete="new-password"
              formControlName="motPasse"
              required
              [md-input-validity]="form"
              md-input-validity.validator="mismatchedPasswords"
    >
        <md-hint>
            {{formErrors.motPasse}}
        </md-hint>
    </md-input>
    <md-input
            id="motPasseConfirmation" name="motPasseConfirmation"
            fxFlex="100"
            placeholder="Mot de passe (Confirmation)"
            formControlName="motPasseConfirmation"
            type="password"
            required
            [md-input-validity]="form"
            md-input-validity.validator="mismatchedPasswords"
    >
        <md-hint class="md-warn">
            {{formErrors.motPasseConfirmation || formErrors.mismatchedPasswords || formErrors.problemeConnexion}}
        </md-hint>
    </md-input>
    <button [disabled]="!form.valid" fxFlex="80" fxFlex.xs="100" md-raised-button color="primary">
        Changez mon mot de passe
    </button>
</form>