<div fx-layout="row" fx-layout-align="center center">
  <div  fx-layout-wrap class="title" fx-layout="row" fx-hide.xs fx-layout-align="center center">
    <div class="logo" fx-flex="100">
      B
    </div>
  </div>
</div>
<div class="wrapper">
  <ul class="nav">
    <li class="active">
      <a fx-layout="row" fx-layout-align="center center">
        <md-icon fx-flex="30"  fx-flex.xs="100" >person</md-icon >
        <p fx-flex fx-hide.xs fx-hide="false" >Information personnelle</p>
      </a>
    </li>
    <li>
      <a fx-layout="row" fx-layout-align="center center">
        <md-icon fx-flex="30" fx-flex.xs="100" >library_books</md-icon >
        <p fx-flex fx-hide.xs fx-hide="false" >Mes bulletins</p>
      </a>
    </li>
  </ul>
</div>