:host{
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.title{
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  color: #3C4858;
  font-weight: 400;
  line-height: 30px;
  height: 75px;
}
.title:after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 10%;
  height: 1px;
  width: 80%;
  background-color: rgba(180, 180, 180, 0.3);
}
.nav{
  list-style: none;
  padding: 10px;
  text-align: center;
}
.nav > li {
  margin-bottom: 10px;
}
.nav > li > a {
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: rgba(230, 230, 230, 0.77);
}
.nav li.active a{
  background-color: #9c27b0;
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.nav > li > a > p {
  text-align: left;
  color: #3C4858;
  overflow: hidden;
}
.nav li.active > a{
  color: #FFFFFF;
}
.nav li.active > a > p{
  color: #FFFFFF;
}
.nav li.active > a > md-icon{
  color: #FFFFFF;
}
md-icon{
  font-size: 24px;
  color: #3C4858;
}