@import "../../core/style/_common.scss";
@import "variables";

@each $page in $pages {
    app-auth-page-#{$page}{
        main{
            height: 100%;
            overflow: hidden;
            background-size: cover;
        }
        @include app-logo(130px,86px,10px,20px);
    }
}


