<div fx-layout="row" fx-flex-fill fx-flex="100">
    <main fx-show="false" fx-show.lg="true" fx-flex="80" fx-flex-fill fx-layout-align="center center">
        <div class="container" fx-flex="80" fx-flex-fill fx-layout-align="center center">
            <md-card fx-flex fx-layout="column" fx-flex-fill fx-layout-align="start start">
                <md-card-subtitle>
                    <app-logo>

                    </app-logo>
                </md-card-subtitle>
                <md-card-title  >Bienvenue sur le portail agent BFC !</md-card-title>
            </md-card>
        </div>

    </main>
    <nav fx-flex="20" fx-flex.xs="100" fx-flex.md="100" fx-flex.sm="100" fx-flex-fill fx-layout="column" fx-layout-align="center center">
        <md-card fx-flex="100" fx-flex-fill >
            <md-card-title fx-flex="10">
                Connectez-vous à votre compte
            </md-card-title>
            <div fx-flex="80" fx-layout="column" fx-flex-fill>
                <connexion-form (onLogin)="onLogin()">

                </connexion-form>
            </div>
        </md-card>
    </nav>
</div>

