<div class="flex-container" fxLayout="row" fxFill fxFlex="100">
    <main fxShow="false" fxShow.lg="true" fxFlex="80" fxFill fxLayoutAlign="center center">
        <div class="container" fxFlex="80" fxFill fxLayoutAlign="center center">
            <md-card fxFlex fxLayout="column" fxFill fxLayoutAlign="start start">
                <md-card-subtitle>
                    <app-logo>

                    </app-logo>
                </md-card-subtitle>
                <md-card-title  >Bienvenue sur le portail agent BFC !</md-card-title>
            </md-card>
        </div>

    </main>
    <nav fxFlex="20" fxFlex.xs="100" fxFlex.md="100" fxFlex.sm="100" fxFill fxLayout="column" fxLayoutAlign="center center">
        <md-card fxFlex="100" fxFill >
            <md-card-title fxFlex="10">
                Connectez-vous à votre compte
            </md-card-title>
            <div fxFlex="80" fxLayout="column" fxFill>
                <connexion-form (onLogin)="onLogin()">

                </connexion-form>
            </div>
        </md-card>
    </nav>
</div>

