@import "../shared/commun";

app-auth-page-connexion{
  .container{
    margin: auto;
  }
  main md-card{
    background-color: transparent;
    box-shadow:none;
    padding: 128px;
  }
  main md-card-title {
    font-weight: 300;
    font-size: 42px;
  }
  main md-card-subtitle{
    margin-bottom: 25px;
  }
  nav md-card{
    padding: 128px 48px 48px;
  }
  nav md-card-title{
    font-size: 21px;
    font-weight: 300;
  }

}

