@import "./variables";

@each $page in $pages {
    app-auth-page-#{$page}{
        main{
            height: 100%;
            overflow: hidden;
            background-size: cover;
        }
    }
}


