@import '../../node_modules/@angular/material/core/theming/all-theme';
// Plus imports for other components in your app.

// Include the base styles for Angular Material core. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include md-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: md-palette($md-indigo);
$candy-app-accent:  md-palette($md-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: md-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

$grey: #eeeeee;

html{
  height: 100%;
  background-color: md-color($candy-app-primary);
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
body {
  height: 100%;
  margin: 0;
}
md-icon{
  color: $grey;
}
md-hint.md-warn{
  color: md-color($candy-app-warn);
}
a{
  color: md-color($candy-app-primary);
}
app-sidebar{
  background-color: $grey;
}
app-sidebar md-icon{
  color: md-color($candy-app-primary);
}
a{
  text-decoration: none;
}