<md-toolbar class="title" fxLayoutAlign="center center">
  <app-logo class="sm" fxHide="false" fxHide.xs >

  </app-logo>
</md-toolbar>
<ul class="nav">
  <li class="active">
    <a fxLayout="row" fxLayoutAlign="start center">
      <md-icon fxFlex="20"  fxFlex.xs="100" >person</md-icon >
      <p fxFlex fxHide.xs fxHide="false" >Profil</p>
    </a>
  </li>
  <!--<li>-->
    <!--<a fxLayout="row" fxLayout-align="start center">-->
      <!--<md-icon fx-flex="20" fx-flex.xs="100" >library_books</md-icon >-->
      <!--<p fx-flex fx-hide.xs fx-hide="false" >Mes bulletins</p>-->
    <!--</a>-->
  <!--</li>-->
</ul>
