<md-toolbar class="title" fx-layout-align="center center">
  <app-logo class="sm" fx-hide="false" fx-hide.xs >

  </app-logo>
</md-toolbar>
<ul class="nav">
  <li class="active">
    <a fx-layout="row" fx-layout-align="start center">
      <md-icon fx-flex="20"  fx-flex.xs="100" >person</md-icon >
      <p fx-flex fx-hide.xs fx-hide="false" >Profil</p>
    </a>
  </li>
  <!--<li>-->
    <!--<a fx-layout="row" fx-layout-align="start center">-->
      <!--<md-icon fx-flex="20" fx-flex.xs="100" >library_books</md-icon >-->
      <!--<p fx-flex fx-hide.xs fx-hide="false" >Mes bulletins</p>-->
    <!--</a>-->
  <!--</li>-->
</ul>
