@import '../../../../node_modules/@angular/material/core/theming/theming';
@import '../../../../node_modules/@angular/material/core/theming/palette';

$app-background-image: "/assets/background.jpg";

$grey: #eeeeee;
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$app-primary: md-palette($md-indigo);
$app-accent:  md-palette($md-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    md-palette($md-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: md-light-theme($app-primary, $app-accent, $app-warn);


$app-light-foreground : map-get($md-light-theme-foreground,base);
$app-dark-foreground  : map-get($md-dark-theme-foreground,base);