main{
    height: 100%;
    overflow: hidden;
    background: url(/assets/connexion-background.jpg) no-repeat;
    background-size: cover;
}
.logo{
    width: 128px;
    height: 128px;
    line-height: 128px;
    font-size: 86px;
    font-weight: 500;
    margin-bottom: 32px;
    color: #FFF;
    border-radius: 2px;
    text-align: center;
    background-color: rgb(3,155,229);
}