<div fx-layout="row" fx-flex-fill fx-flex="100">
    <main fx-layout="row" fx-flex="100" fx-flex-fill fx-layout-align="center center">
        <md-card fx-flex="20" fx-flex.xs="100" fx-flex.md="100" fx-flex.sm="100">
            <md-card-subtitle fx-flex="100" fx-flex-fill fx-layout="row" fx-layout-align="center center">
                <div class="logo">
                    B
                </div>
            </md-card-subtitle>
            <ng-content>

            </ng-content>
        </md-card>
    </main>
</div>