

@mixin app-logo($width : 130px,$font-size:86px,$margin-top: 10px,$margin-bottom:30px){
    .logo {
        line-height: ($width - 2px);
        font-size: $font-size;
        font-weight: 500;
        margin-bottom: $margin-bottom;
        color: #FFF;
        border-radius: 2px;
        text-align: center;
        margin-top: $margin-top;
        width: $width;
    }
}