

@mixin app-profil-theme($primary,$foreground-color,$background-color,$header-img)
{
  app-profil-page{
    background-color: $background-color;
    .header{
      background: url($header-img) 0 45% no-repeat;
    }
    .name{
      color: $foreground-color
    }
    md-card-title{
      background-color: $primary;
      color: transparentize($foreground-color,0.1);
    }
  }
}