
app-profil-page{
  display: flex;
  flex: 1;
  height: 100%;

  .header{
    padding: 24px;
    background-size: 100% auto;
    height: 320px;
    min-height: 320px;
    max-height: 320px;
  }
  //Topbar
  .topbar{
    max-height: 10%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
    margin-bottom: 2px;
  }
  .name{
    font-size: 34px;
    color: #FFF;
  }
  .avatar{
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #FFF;
    width: 96px;
    min-width: 96px;
    height: 96px;
    line-height: 96px;
  }
  .md-tab-label{
    line-height: 56px;
    height: 56px;
  }
  //Main
  md-card-title{
    padding: 16px;
    margin-bottom: 0px;
    font-size: 17px;
  }
  md-tab-body{
    padding: 20px;
  }
}
