<div class="main" class="main" fx-flex="100" fx-layout="row" fx-flex-fill>
    <div fx-layout-wrap fx-layout="row" fx-flex-fill fx-flex="85" fx-flex-order="2" fx-layout-align="start start">
        <div class="topbar" fx-flex="100">
            <app-topbar></app-topbar>
        </div>
        <div class="header" fx-layout="row" fx-flex="100">
            <div class="user-info" fx-flex="30" fx-layout="row" fx-layout-align="end end">
                <img fx-flex class="avatar" src="assets/katherine.jpg">
                <div fx-flex="80" class="name">Katherine Wilson</div>
            </div>
        </div>
    </div>
    <div class="nav" fx-flex="15" fx-flex-order="1">
        <app-sidebar></app-sidebar>
    </div>
</div>