<main fx-layout-wrap fx-layout="row" fx-flex-fill fx-flex="88" fx-flex-order="2" fx-layout-align="start start">
    <div class="topbar" fx-flex="100">
        <app-topbar></app-topbar>
    </div>
    <div class="header" fx-layout="row" fx-flex="100">
        <div class="user-info" fx-flex="30" fx-layout="row" fx-layout-align="end end">
            <img fx-flex class="avatar" src="assets/katherine.jpg">
            <div fx-flex="80" class="name">Katherine Wilson</div>
        </div>
    </div>
    <md-tab-group fx-flex="100">
        <md-tab label="Profil">
            <md-card-title>General Information</md-card-title>
            <md-card>
                <md-card-content>
                    <p>This is supporting text.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
                </md-card-content>
                <md-card-actions>
                    <button md-button>LIKE</button>
                    <button md-button>SHARE</button>
                </md-card-actions>
            </md-card>
        </md-tab>
    </md-tab-group>
</main>
<div class="nav" fx-flex="13" fx-flex-order="1">
    <app-sidebar></app-sidebar>
</div>